/* Estilo general de la ventana */
window {
    background-color: #f5f5f5;
    color: #333333;
    font-family: sans-serif;
}

/* Cards */
.card {
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
    padding: 12px;
    margin-bottom: 12px;
}

/* Header */
.header {
    border-bottom: 1px solid #dddddd;
    padding: 10px 16px;
    background-color: #f5f5f5;
}

.header-filter {
    background-color: #dddddd;
    border-bottom: none;
    background-color: transparent;

    padding-bottom: 20px;
}

/* Sidebar */
.sidebar-card {
    min-width: 220px;
    background-color: white;
    border-right: 1px solid #dddddd;
}

/* Contenido principal */
.content-card {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}

/* Botones generales */
.button {
    border-radius: 6px;
    padding: 8px 14px;
    color: #ffffff;
    background-color: #444444;
    font-weight: bold;
    border: none;
    background-image: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    transition: background-color 200ms ease;
}

.button:hover {
    background-color: #2f2f2f;
    color: white;
}

/* Botón "Nuevo Archivo" */
.button.new-file {
    background-color: #2FA1FF;
    color: white;
    border-radius: 6px;
    font-weight: bold;
}

.button.new-file:hover {
    background-color: #0072cc;
}

/* Botón "Desuscribirse" */
.unsubscribe {
    background-color: #dc3545;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    padding: 8px 14px;
    border: none;
    transition: background-color 200ms ease;
}

.unsubscribe:hover {
    background-color: #a71d2a;
}

/* Nombre de usuario */
.username {
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    margin-left: 10px;
}

/* Área de texto */
.file-text-area {
    padding: 16px;
    background-color: #1e1e1e;
    border: 1px solid #444444;
    color: white;
    font-family: monospace;
    border-radius: 8px;
    min-height: 300px;
}

/* Etiquetas */
.content {
    color: #000000;
}

/* Botones de archivo */
.file_button {
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: 8px;
    padding: 10px 16px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    transition: background-color 200ms ease;
}

.file_button:hover {
    background-color: #f0f0f0;
}

/* Filtros */
.button.filter {
    border-bottom: 0;
    border: 1px solid #000000;
    padding: 10px;
}
